table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

th {
  color: #849cac;
}
.img-fluid{
  width: 100%;
  height: auto;
  object-fit:cover;
}
