<h1 mat-dialog-title>Add new giveawayy</h1>
<form [formGroup]="giveawayForm" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Product name </mat-label>
            <input matInput formControlName="productName">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Pickup location</mat-label>
            <input matInput formControlName="pickupLocation">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Availability</mat-label>
            <mat-select formControlName="availability">
                <mat-option value="true">True</mat-option>
                <mat-option value="false">False</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Close</button>
        <button mat-button cdkFocusInitial type="submit">Add</button>
    </div>
</form>